[2020-11-02 04:08] n-kai opened #1 "dpi vs ppi"
[Comment]
Fingerprint Toolbox uses dpi for scanner resolution. I am not sure which one should be used but NIST SP 500-290e3 uses ppi for scanner resolution

[Proposed change]
Discuss and determine which one should be used for scanner resolution

[2020-11-02 04:12] n-kai opened #2 "Minimum fingerprint scanner resolution"
[Referenced doc]
Fingerprint Toolbox Overview - 2.1.1. PAD data acquisition - Scanner image, 5. Requirements for Tools
Fingerprint Toolbox Inventory - T.1　Cinferprint scanner

[Comment]
Tools for basic attack potential (i.e. Standard equipment) should be easy to purchase as defined in the BIOSD (See Equipment in 9.1.2) however I couldn’t find 1000 dpi fingerprint scanners at Amazon.com and ebay.co

[2020-11-02 04:13] n-kai opened #3 "Image enhancement"
[Referenced Doc]
Fingerprint Toolbox Overview - 2.1.1. PAD data acquisition - Image enhancement and preparation
test items under attacks directory

[Comment]
Photo processing software is used only for flipping and inverting the fingerprint image in test items under attacks directory. Images are not improved in those items by using the software as described in this section. Image enhancement should

[2020-11-02 04:16] n-kai opened #4 "Mold made from transparency"
[Referenced doc]
Fingerprint Toolbox Overview - 4.1.1. Flat PAI mold preparation

[Comment]
Toolbox requires evaluator to create two types of flat mold, printed transparency and PCB, however, creation of good quality fingerprint PAIs is time-consuming task and the evaluator has to finish the penetration testing within one week. So it’s better to limit the number of PAIs so that the evaluator can s

[2020-11-02 04:17] n-kai opened #5 "Need to check the quality of PAI"
[Referenced doc]
Fingerprint Toolbox Overview - 4.1.3. Cast(PAI) preparation

[Comment]
There is no guarantee that all evaluator can create the certain level of PAI so the toolbox should require the evaluator to check the quality of the PAI.

In japan, only one or two evaluators have experience of creation of the fake fingerprint. If the evaluator doesn’t have any experience, as a certifier, I hav

[2020-11-02 04:21] n-kai opened #6 "Use fabric glue instead of silicone"
[Comment]
According to *1) _One of the challenges in the capacitive sensors, especially the active kind, is to ensure that there is a certain amount of conductivity in the fingerprint. The silicon is insulating so it's impossible to use on capacitive sensors. However, thin fabric glue with a real finger behind is conductive enough to enable the sensor._

*1) https://blog.talosintelligence.com/2020

[2020-11-02 04:22] n-kai opened #7 "Add ultrasonic sensor to Fingerprint Verification List"
[Referenced doc]
Fingerprint Verification List

[Comment]
Ultrasonic sensor should also be added in the table because some smartphones equip this type of sensor.

[Proposed change]
Add Ultrasonic sensors column to the table or replace “Optical Sensor” with “Optical/ Ultrasonic Sensor”.

[2020-11-02 04:23] n-kai opened #8 "Link error in Fingerprint Verification List"
[Comment]
All hyperlinks (e.g Fingerprint 01-01) don’t work.

[Proposed change]
Correct hyperlinks in Fingerprint Verification List

[2020-11-02 04:25] n-kai opened #9 "Editorial mistake in toolbox inventory"
Fingerprint Toolbox Inventory - T.1　Cinferprint scanner
- "Cinferprint" should be changed to "fingerprint".

Fingerprint Toolbox Inventory - M.3　Eye Mimicry
- "Eye Mimicry" should be changed to "Dental Impression material"
- Remove "*"

[2020-11-02 04:27] n-kai opened #10 "Non-Newtonian fluid"
[Referenced doc]
Fingerprint Toolbox Inventory - C.1　 Non-Newtonian fluid, also known as Dilatant compound

[Questions]
I have the following questions.

Q1. How can you determine the chemical composition? I can’t find any research papers that use dilatant for making the fingerprint PAI and I want to know such specific chemical composition can works for all type of sensors.

Q2-1. Does the evaluato

[2020-11-02 04:31] n-kai opened #11 "Attack 2D Fingerprint 01-01"
[Referenced section]
Recipe – cast

[Comment]
Recipe – cast in Fingerprint 01-01 is different from Fingerprint 02-01 and 03-01 (e.g. there is no specific chemical composition described)

[Proposed change]
If this is an editorial mistake, correct it. If not, add the specific chemical composition to 01-01 too.

(If #4 (proposes to remove the transparency mold) is accepted, this one can be skipped)

[2020-11-02 04:32] n-kai opened #12 "Attack 2D Fingerprint 02-0X"
[Referenced section]
Penetration Testing Suggestion

[Comment]
_Copper cladding thickness can be varied to produce differing height ridges in the casts._

The above test should be indented.

According to *3), thickness like 105μm should be avoided.
_9.1.5 PCB production
Epoxy laminates, which created copper thicknesses of 35 μm, 70 μm, and 105 μm were available. The 105 μm thickness was discarded

[2020-11-02 04:34] n-kai opened #13 "Attack 2D Fingerprint 03-0X"
[Referenced section]
Penetration Testing Suggestion

[Comment]
_Different dental impression materials can be used._

The above sentence should be indented.

[Proposed change]
Indent the sentence.

[2020-11-02 04:36] n-kai opened #14 "Attack 2D Fingerprint 0X-02 Modeling compound cast"
[Referenced section]
Recipe - cast

[Comment]
_The test report shall specify which version is used._

What document of the version shall be reported? Version of Fingerprint Toolbox Inventory? But Fingerprint Toolbox Inventory has no version specified.

Or “version” should be replaced with “commercial equivalent”?

[Proposed change]
Clarify the text.

[2020-11-02 04:37] n-kai opened #15 "Attack 2D Fingerprint 02-03 - Total Number of Species"
[Referenced section]
Total Number of Species

[Comment]
Only this test requires to test 10 species.

[Proposed change]
Add reason why if this is not an editorial mistake

[2020-11-02 04:38] n-kai opened #16 "Attack potential table - Elapsed Time for all attacks"
[Referenced doc]
test items under attacks directory

[Comment]
Elapsed time for mold and cast in Identification Value are separately rated as 1, which means to create the PAI using both mold and cast take two weeks (i.e. Total elapsed time should be rated as 2).

[Proposed change]
Change elapsed time for mold and cast to, for example, 0.3 and 0.7 so that total elapsed time can be 1 (less than one

[2020-11-02 04:41] n-kai opened #17 "Attack potential table – Exploitation value and Score for Mold"
[Comment]
Exploitation value for mold and cast are separately rated, however the value should be rated for the whole PAI (i.e. combination of mold and cast)

[Proposed change]
Change both Exploitation value and Score for Mold to “N/A”. Add a note to explain that Exploitation value and Score should be rated for the whole PAI and those scores are specified in Cast.

[2020-11-02 04:45] n-kai opened #18 "Attack potential table – Window of Opportunity (Access to Biometric Characteristics)"
[Comment]
Window of Opportunity (Access to Biometric Characteristics) is rated as “without notice (0)”, however, “Non-cooperative (2)” should be used instead for all attacks. See below the definition of these rates defined in the BIOSD.

_Without notice is for making an artefact with samples that can be collected without any contact with an enroled subject. For example, 2D face images uploaded on

[2020-11-02 15:15] woodbe commented on #9
I saw these, they were copy/paste errors. I will fix them in the PR I'm working on.

[2020-11-02 15:31] woodbe commented on #8
I had sort of copied these over, but didn't take too much time since I wasn't sure if the links would need to change (tests added/combined, etc), so this will be a last step.

[2020-11-02 15:38] woodbe commented on #11
@n-kai I'm doing some reformatting on these (in stages) to move some of the things about the composition and such (like the recipe about making gelatin) to only be in the inventory instead of having it specifically in the attack steps.

Eventually I think we will be able to combine these into something like 5 tests with variants as we have done with the other modalities, but for now I've been tryi

[2020-11-02 15:41] woodbe commented on #15
@n-kai this was editorial. There had been confusion about species vs total number of PAI. The original docs all listed 10, but under the definitions we have been using, that is 10 PAI, but only 1 species as the species basically counted the number of variants in the test. I must have missed this one when I was moving things over.

[2020-11-02 16:00] woodbe commented on #1
Well, just looking at a plain descriptive comparison, PPI is used specifically for digital, while DPI would only be used when printing output. That said, scanners usually seem to list DPI for their resolution, but that is probably more from convention than anything else.

@gregott do you have a specific reason to have used DPI here vs PPI, or just "convention"?

I can't think of any references to

[2020-11-02 16:16] woodbe commented on #5
@n-kai I have made this edit:

PAIs must be scanned by the same fingerprint scanner to compare the original image with the scanned image and visually check that the PAI has clear and similar friction ridge pattern. **_For a PAI that can only be used a single time, the first PAI should be compared to the original image._**

I added the second sentence (so far) since if the PAI is only good for one

[2020-11-02 16:19] woodbe commented on #7
I will add this in my update.

[2020-11-02 16:56] gfiumara commented on #1
FBI's EBTS Appendix F, which is their standard for scanner certification (digitizing ink cards, as well as applied to live-scan tech) refers to fingerprint printers in DPI and scanners in PPI. I'd go for PPI.

[2020-11-02 17:08] gfiumara opened #21 "Fingerprint Verification List -- Contactless Column?"
Should we add a contactless/non-contact column to FINGERPRINT_Toolbox_Verification_List.adoc? To the best of my knowledge, there's no **first-party** device using integrated cameras to image a finger for _device unlock_. My initial thought is no, but wanted to raise the question.

[2020-11-02 17:21] woodbe commented on #21
I would say not at this time. Doing it would probably be like some sort of Frankenstein of fingerprint and face that I think should wait until we have someone actually wanting to do it.

[2020-11-02 17:41] gfiumara commented on #7
I think it might be better to add a column for Ultrasonic rather than to have it share the Optical column. These are very different technologies. Although the columns might have the same content, I think it sends a clearer message to separate them.

[2020-11-02 18:19] woodbe commented on #13
I have made these edits in the next PR I will upload for attacks.

[2020-11-02 18:20] woodbe commented on #14
I have edited this in all the attacks and it will be in the next PR I upload for attacks.

[2020-11-02 19:31] woodbe commented on #18
@n-kai So I can understand possibly wanting Non-cooperative, but fingerprint is more difficult I think for it. Latent prints would seem to be the most likely way to actually get a sample that could be used in what we are doing (even if we are using cooperative to ensure highest quality in the testing).

I think my question here is what exactly is the non-cooperative scenario that gets a fingerprin

[2020-11-02 19:42] woodbe commented on #17
@n-kai To be clear, are you saying to flatten the tables to just a single identification and exploitation value that combines both the mold and the cast, so it would look like the rest of the tables? I just want to be clear before going through the edits (which may wait until we see if we combine tests first).

[2020-11-02 19:44] woodbe commented on #16
If #17 is done, then this wouldn't need to be done since there would only be one value, which would/could be 1, and we wouldn't worry about the split between the mold/cast portions.

[2020-11-03 06:32] n-kai commented on #17
@woodbe
_flatten the tables to just a single identification and exploitation value that combines both the mold and the cast_

If we flatten the table, the following text above the table should be deleted. But I want to know the auther(@gregott)'s opinion.
_Attack Potential accounts for the time, expertise, etc. needed to make both the molds and the casts. When selecting the mold / cast combination

[2020-11-03 13:42] gfiumara commented on #5
1. Do we need to add a note to the text in the PR about disabling liveness detection on the sensor for the PAI image acquisition?
 2. How about attempting to match the two images above some FMR threshold with a COTS matching algorithm with software-based liveness detection disabled? Visually inspecting fingerprint images for similarity is complex IMHO.
     - I'm trying to remove a subjective huma

[2020-11-03 14:32] #7 closed, assigned to woodbe, gregott

[2020-11-03 14:32] #1 closed, assigned to gfiumara, woodbe, gregott

[2020-11-03 14:32] #9 closed, assigned to woodbe

[2020-11-03 14:33] #11 closed, assigned to nobody

[2020-11-03 14:33] #13 closed, assigned to woodbe

[2020-11-03 14:33] #14 closed, assigned to woodbe

[2020-11-03 14:33] #15 closed, assigned to woodbe

[2020-11-03 14:42] gfiumara commented on #2
While it pains me, @n-kai is correct. Buying a 1000 PPI scanner is not an amazon.com type of task. There's only one or two 1000 PPI palm scanners that exist and purchasing one (in my experience) has always required contacting the company, talking to a sales person, etc.

If we choose to redefine to 500 PPI, any objection to saying EBTS Appendix F certified as well? These are still readily availabl

[2020-11-03 14:48] woodbe commented on #2
I don't see a problem. If a 500PPI scanner can be used to create sufficient spoofs, that would seem to be a likely avenue for the attacker. We can always increase the requirements later if this changes.

@gfiumara As for the EBTS stuff, I have no idea, but I don't see a problem with it. Again, if it turns out that they don't work as we expect for some reason, we update the toolbox to reflect the n

[2020-11-04 03:35] n-kai commented on #5
1 - I am not a lawyer but is it legally risky to create the PAI that can bypass the liveness detection of the commercial fingerprint sensor without the permission of manufacturer? *1) describes the risk of Reverse Engineering, but it may also be applicable for the PAD testing.

_It is legally risky to bypass any “technical protection measures” (e.g., authentication handshakes, protocol encryption,

[2020-11-06 18:16] gregott commented on #10
My expectation is that the evaluator will purchase commercially available Dilatant compound as opposed to making his own.  A quick Internet search on "Dilatant compound" will turn up a very familiar commercial product.  It is this product that is used in all Dilatant compound based fingerprint attacks I have seen on the Internet.

I was instructed by NIAP to not use any brand name products in the

[2020-11-06 18:35] gregott commented on #2
I was able to find two fingerprint scanners that support 1000 ppi, both from well-known companies in a short amount of time on the Internet.  Also, some "500 ppi" scanners have higher native resolutions that are dialed back in the driver software to 500 ppi.  I used one of these scanners with the company’s free SDK to acquire images.  Further, we asked the company if we could get the native resolu

[2020-11-06 18:56] gregott commented on #4
I agree that PCB based PAIs have the advantage over transparency PAIs of having a higher relief between the ridges and the valleys as indicating in the CCC article.  However, transparency based PAIs are much faster and easier to make.  I made PCBs as a teenager and PCB based PAIs more recently.  They do not take that long to learn how to make.  So having the two methods should not be a problem.  B

[2020-11-06 19:47] gregott commented on #5
I agree that the quality of the PAIs should be as high as possible.  Comparing the match scores between the source of the PAI friction ridge data (i.e. the real finger) and a PAI is probably better than just doing a visual inspection.  NIST has quality standards that might be applied to the PAIs.  All these approaches assume the friction ridge information is the basis of the PAD.  If PAD is based

[2020-11-06 20:08] gregott commented on #6
I have never used fabric glue for PAIs.  I assume it is similar to wood glue and other PVA glues, which I have used.  However, there are coatings that can be applied to non-conductive PAIs to make them conductive.  Silicone is very long lasting, durable and forgiving of rough handling, has selectable hardness, can be treated after curing, etc.  This makes silicone a good candidate for making PAIs.

[2020-11-06 20:17] gregott commented on #12
Yes, of the three thicknesses cited in Standstrom, 35 μm is approximately 1.38 mils which is roughly equivalent to the standard “1 oz” of copper.  70 μm is approximately 2.75 mils which is roughly “2 oz” of copper.  It is not recommended to use copper thicker than 2 oz / 2.75 mils / 70 μm.

[2020-11-06 20:54] gregott commented on #18
I may need to be educated in what the labs are allowed to do.  My view of spoof testing, whether it be for spoofing the match or the PAD, is to use as good a process as is available to make your PAI within certain constraints.  If the best mold I can make is with a cooperative user placing his finger in dental molding material, then that is what I will want to do.  If dental molding material was e

[2020-11-09 08:04] n-kai commented on #18
Assurance level for our cPP is AVA_VAN.1 (the lowest level) and objective of this requirement is, according to CEM para 1458, _to determine whether the TOE, in its operational environment, has easily identifiable exploitable vulnerabilities_. So the fingerprint toolbox should list those test with level A or B. Level C or D may corresponds to AVA_VAN.2 or AVA_VAN.3.

[2020-11-09 08:06] n-kai commented on #10
@gregott
Thank you for answering my questions.
If we are not allowed to list the commercial product in the toolbox, we should add a note that explain such dilatant compound is commercially available, at least.

[2020-11-09 08:07] n-kai commented on #4
Thank you. If inexperienced evaluators can create PAIs from transparency easily, it should be no problem to use those PAIs for the toolbox testing.

[2020-11-09 08:11] n-kai commented on #2
According to the BIOSD, following is how the attack potential should be calculated.

_Elapsed Time_ for identification should be 1.
_Window of Opportunity (Access to TOE)_ for Exploitation should be 4.
_Window of Opportunity (Access to Biometric Characteristics)_ should be 2 (Non-cooperative) (or 4 (Cooperative) according to #18?)

If we categorize the 1000 ppi scanner as _Specialised equipment_ (

[2020-11-09 14:17] gregott commented on #2
There are at least two 1000 ppi commercial scanners on the market for purchase by anyone.  They are no more difficult to operate than a 500 ppi scanner, although they may be more expensive.  So I would not consider them specialized equipment as they are  available in standard markets and do not require some specific formation to be used any more than the lower resolution scanners do.  If this is i

[2020-11-09 14:36] woodbe commented on #10
I don't know that we have a prohibition on listing specific products, but I like having descriptions without a "use this one" type of requirement. What may be useful in the case of fingerprint though, since it is different than the other modalities, would be to provide an "examples" column where we could list some commercial products that are used commonly. We could add some text that the examples

[2020-11-09 14:57] gregott commented on #5
Regarding legal authority to do PAD testing, the devices under test are provided by the equipment manufacturer for the purpose of the labs trying to bypass their liveness detection.  So the labs have permission from the manufacturer to do things that ordinarily are restricted by the license agreement for normal users.

[2020-11-09 15:33] woodbe commented on #2
@woodbe will work on adding example columns for scanner manufacturers.

Will also need language stating that this is not endorsement or requirement to use vendor products which may be listed

[2020-11-09 15:34] woodbe commented on #10
@woodbe will work on this with #2 for example products that can meet the requirements

[2020-11-09 15:56] woodbe commented on #3
add cleaning of sensor, molds, fingers to minimize dust/scratches. Noise is more about presentation, so practice

cleaning everything and then using binarization software, then enough image processing to flip/invert colors = layman

[2020-11-09 15:57] #4 closed, assigned to gregott

[2020-11-09 16:03] woodbe commented on #6
investigate another species focused on glue-based PAIs

[2020-11-18 14:06] gfiumara commented on #2
@woodbe: catching up, but if you haven't already found a disclaimer, you may consider adapting one we use

[2020-11-18 14:09] woodbe commented on #2
@gfiumara Perfect, I hadn't had a chance to work on this yet, so I'll use that.

[2020-11-18 14:46] gfiumara commented on #18
@n-kai's initial comment aligns with the vein toolbox and also aligns with FIDO's published PAD guidelines. I would suspect the most likely scenario being protected against would be using a latent print on a found device to make a PAI and ultimately unlock said device. If covert, device could be stolen and PAI based on high-res photo could be used (from social media or long distance). I agree that

[2020-11-18 16:20] woodbe commented on #3
@n-kai I am thinking that this information about cleaning, scratches, etc should go under the section 4 for the common test protocol. Here I would add a section about "common testing hygiene" (or something to that effect) that would basically say that everything should be cleaned before use (by whatever method is appropriate for the item). I would then specify that this will reduce noise and provi

[2020-11-19 07:01] n-kai commented on #5
@gregott  I am thinking the following case.
1. TOE is product X.
2. The lab purchases the scanner such as crossmatch that has bulid-in PAD function to create PAIs
3. The lab creates PAIs that can bypass the build-in PAD
4. The lab use those PAIs to test the product X

In this case, is it really OK to create the PAI that can bypass the build-in PAD without getting any permission from the crossmatch

[2020-11-19 07:15] n-kai commented on #6
@gregott
I am not proposing to add fabric glue for PAD testing of all sensors but proposing something like below.

If the lab can find a report in the web that explain how to create the PAI (e.g. fabric glue PAI) which can bypass the TOE's PAD, the lab must create such PAI to test the TOE because it's the easiest way to break the TOE PAD and that's what AVA_VAN.1 (CC's requirement for vulnerabilit

[2020-11-19 08:00] n-kai commented on #3
@woodbe
I think it's OK to have it under the section 4.

[2020-11-19 12:19] gfiumara commented on #5
@n-kai: My thought would be that in your Step 3, the evaluator purposely turns off built-in PAD or ignores a separate PAD score, focusing **solely** on similarity score output by the crossmatch ("third-party") device. Trying to *bypass* a third-party product's PAD seems out of scope. The goal would be to see if the PAI is of good enough quality or if there's some defect that would prevent it from

[2020-11-19 14:16] #10 closed, assigned to gregott

[2020-11-19 14:16] #12 closed, assigned to gregott

[2020-11-19 14:26] woodbe commented on #5
So I am clear here, the proposal is that for fingerprint, you would purchase a third party fingerprint scanner, and then use that to basically test how good your PAI creation is by enrolling your finger and then trying to use the PAI. Ideally, the scanner would not have PAD (or would have a way to turn it off) so you are solely testing the match and not anything about PAD.

Then, based on the abil

[2020-11-19 14:41] gfiumara commented on #5
@woodbe that is exactly what I mean. The original suggestion in this issue was to check the quality of the PAI. You are correct in that something similar applies to all modalities. Unlike a face photo, I would disagree that the quality of a fingerprint PAI could be performed by visual inspection except by a time consuming process with an expert. But iris, vein...yes...maybe this is something we ov

[2020-11-19 14:50] gregott commented on #2
Here are two scanners I found with native resolutions of 1000 dpi.

•	HID® Crossmatch L Scan™ (hidglobal.com)
•	HiScan PRO (biometrika.it)

[2020-11-19 14:57] gregott commented on #17
I am fine with collapsing the tables as long as it is understood that the exploitation value accounts for two separate activities, one being mold preparation and one being cast preparation.  These are two distinctly different steps with different impacts on the PAI creation.

[2020-11-19 14:59] n-kai commented on #5
I heard (but I don't remember that clearly) when Japanese researchers created the PAIs that bypass the PAD of fingerprint or vein sensor without permission of vendor of the sensor and published the report, the vendor complained about it. I just want to avoid such situation (i.e. the lab uses the commercial scanner and create PAIs that can bypass the PAD of the commercial scaneer and reports that i

[2020-11-19 15:35] woodbe commented on #16
@woodbe will edit the 01-01 attack table into 3 tables based on call discussion for review.

[2020-11-19 15:45] woodbe commented on #18
Group decided on 11/19 call to change to non-cooperative with a score of 2. This will get propagated by @woodbe once the table structure has been agreed on.

[2020-11-19 15:48] woodbe commented on #21
Closed by agreement at this time on 11/19.  Will reopen if vendors request to use this type of functionality.

[2020-11-19 15:48] #21 closed, assigned to nobody

[2020-11-19 16:00] woodbe commented on #6
Some text in the overview along these lines should be added:

_While the current recommended materials are focused on XXXX, there is research showing other tools, such as YYYY, may also be used for creating high quality PAI. The lab should be aware of the latest research and should utilize tools that point to good results._

_This needs to be contributed to the iTC for approval and acceptance (and

[2020-11-20 15:31] gfiumara opened #29 "Overview: Describe Molds and Casts"
Suggest adding a sentence or two to the overview to describe the basics about what molds and casts are.

[2020-11-20 15:35] gfiumara opened #30 "Inventory: Require Appendix F Certified Scanner"
Related to #2, but split out for discussion. FBI EBTS Appendix F is the de facto fingerprint sensor certification guidelines and procedure. Requiring a certified scanner will help ensure the captured print is of a sufficient enough quality to create a mold without requiring a specific scanner manufacturer.

I suggest we explicitly require EBTS Appendix F scanner, regardless of what resolution is d

[2020-11-20 15:39] gfiumara opened #31 "Overview: Lossless Images Only"
The overview states:

I believe we should require lossless image acquisition from the sensor. Although we binarize the image after acquisition, compression artifacts may alter the resulting 1-bit image, which will make a less-robust mold. I don't see a reason why we should not require use of a sensor's capability to provide a lossless image.

[2020-11-20 15:41] gfiumara opened #32 "Overview: Don't Allow Interpolation"
Overview:

Why would the image need to be resized, introducing interpolation? Suggest we explicitly disallow resizing of the image.

[2020-11-20 15:42] gfiumara opened #33 "Overview: High-Quality Printing: should -> shall"
Overview (emphasis mine):

Suggest changing the should to a shall.

[2020-11-20 15:45] gfiumara opened #34 "Overview: Process for thicker than normal cladding"
The overview cautions:

How does one adjust the process? We should add text that describes the adjustment, or remove this if it should be obvious to someone who deals with PCB. I have no experience here.

[2020-12-01 13:31] woodbe commented on #31
@gfiumara do we know for certain that the scanners will output uncompressed in all cases? I'm OK saying this as long as that is common, but I think the point here was to accept the JPEG only if that is all that can be output. I would agree about lossless, I just don't know enough about the scanners to to say.

[2020-12-01 14:09] woodbe commented on #32
I think this should be OK. I would expect any printer should be able to print to the correct size from the source, and that any "resizing" so to speak should probably happen there instead of in the image processing.

[2020-12-01 14:45] woodbe commented on #30
@gfiumara my only concern with saying that the scanner MUST come from that list is that say an EU scheme could say they want to use something that is tested by them, and not the US FBI. I'm not arguing that there is anything wrong with the FBI list by any means, just that we have to be careful of requiring things like that.

I certainly think we could list that as a place to find commercial produc

[2020-12-01 21:55] gfiumara commented on #31
@woodbe While I can't answer with certainty, every scanner I've developed against had the option of returning raw bytes. Most development kits include additional codecs as well. I would guess strongly that if any compressed codec is provided, WSQ compression would be supported, as it is the default for 500 PPI compression in ANSI/NIST-ITL. I don't know of any national systems that allow lossy JPEG

[2020-12-02 13:52] gfiumara commented on #30
Fair, but I don't know of other testing programs.

[2020-12-02 14:04] woodbe commented on #30
@gfiumara This is why my edit has these listed as part of the commercial scanners list, but not as a mandated list.

[2020-12-02 14:06] woodbe commented on #31
I'm good with the change then (as I proposed to just remove the sentence) unless anyone else has a specific comment.

[2020-12-02 15:36] gfiumara commented on #30
Essentially, I want to avoid folks using cheap sensors that claim 500 PPI but whose acquition methods do not provide a robust image. For example, a sweep-style sensor can image at 500 PPI, but relies on image stitching which will introduce artifacts and not be able to image the entire finger. This might be acceptable for the verification image on the TOE, but not for creating a PAI.

[2020-12-03 05:47] n-kai commented on #32
If you create the PAI from a residual fingerprint on glass surface, you have to brash the fingerprint with powder, lift the dusted print and photograph the lifted fingerprint by camera. In this case, you have to resize the fingerprint image taken by the camera. The toolbox capture the fingerprint image directly from a user, so resizing is unnecessary.

[2020-12-03 13:18] gregott commented on #34
Thicker copper requires longer etching time.  This should be obvious to anyone who makes PCBs.  I think the sentence can be removed.

[2020-12-03 13:43] #3 closed, assigned to nobody

[2020-12-03 13:44] #6 closed, assigned to gregott

[2020-12-03 13:46] #33 closed, assigned to nobody

[2020-12-03 14:03] gfiumara commented on #30
FYI: Learned of BSI (Germany) fingerprint scanner qualifications, which may be useful ([Section 5.1.2](https://www.bsi.bund.de/SharedDocs/Downloads/EN/BSI/Publications/TechGuidelines/TR03121/TR-03121-3_4_Biometrics_5-1.pdf?__blob=publicationFile&v=2)). The qualifications mimic EBTS Appendix F, with the exception of minimum physical capture size.

[2020-12-03 14:12] #34 closed, assigned to gregott

[2020-12-03 14:14] gregott commented on #32
You can resize a photograph with or without interpolation.  When a fingerprint image is provided by a scanner, the file will be X pixels wide and Y pixels high.  The photo manipulation software does not know what the PPI of the image is, only how many pixels are in the image.  Some photo software assumes a PPI of 72, which is common for screen display.  So when opening a scanner image in this soft

[2020-12-03 14:56] gregott commented on #31
If lossless image formats are available from the scanner, then those are the image formats we should require.  However, I would not want to preclude using a scanner that provides acceptable image quality just because it does not have RAW output, especially if it meets all other requirements.  I believe WSQ is lossy.  Actually I think it is better to use the term lossless instead of uncompressed as

[2020-12-03 15:36] woodbe commented on #5
@gregott @gfiumara can we look to see if there are known scanners with the ability to readily turn off PAD that we could use as examples for this?

@woodbe to add capability to list for T.1 in inventory (ability to enroll/match and ability to disable PAD)

[2020-12-03 15:47] woodbe commented on #16
@n-kai will update the table for how the mold and cast AP should be calculated. @woodbe will update the table for the column with the component selection.

[2020-12-03 15:52] woodbe commented on #31
@gregott will look at output formats to see what the suggested scanners support.

@woodbe will update the text to be more open to lossless formats and allow WSQ compression as a proposed update.

[2020-12-03 16:02] woodbe commented on #32
@woodbe will create a new PR to adjust this to say should not use interpolation for resizing. If this recommendation is not followed, the lab needs to provide a justification.

[2020-12-03 16:32] woodbe commented on #30
Ok, so how about specifying in the requirements that the scanner must meet either the BSI or the FBI requirements. If I can point to multiple that agree, I think we are OK. Then under the examples we cam point to the FBI website since it is nicely searchable, but it is just a place to look for them, not mandated.

[2020-12-03 17:05] gfiumara commented on #5
@woodbe: Most sensors on the market don't have any PAD built in yet, including HID (Crossmatch) Guardian, because nearly no one is requiring it...yet. Those devices that do (example: Dermalog LF10) require an add-on purchase to enable.

[2020-12-03 17:07] woodbe commented on #5
@gfiumara well that's cool, it means they would do what we want by default.

[2020-12-07 17:53] gfiumara commented on #30
I would be good with requiring the linked BSI qualifications or FBI qualifications. Could we say something like "meets EBTS Appendix F _or equivalent national body image quality specifications_?"

I also noticed ISO/IEC 19794-4 has an appendix with image quality specifications for scanners. Looking _very_ quickly between meetings, this appears to be equivalent to EBTS Appendix F, which could remov

[2020-12-09 19:17] #32 closed, assigned to n-kai, gregott

[2020-12-09 19:17] #30 closed, assigned to nobody

[2020-12-09 19:23] #29 closed, assigned to nobody

[2020-12-10 13:49] #31 closed, assigned to n-kai, gregott

[2020-12-11 14:20] woodbe commented on #5
Closing as the inventory proposed updates have been merged

[2020-12-11 14:20] #5 closed, assigned to gfiumara, woodbe, gregott

[2020-12-11 14:22] woodbe commented on #2
Closing as the minimum requirements have been updated based on this issue and have been merged.

[2020-12-11 14:22] #2 closed, assigned to gregott

[2020-12-15 15:11] woodbe commented on #17
@gregott can you check #48 to see if this is along the lines of what you are expecting? @n-kai has split out the tables a little differently, but I think this makes it clear what you were pointing out here, and I think that change will take care of this issue.

[2020-12-15 15:14] woodbe commented on #8
To be clear, I think this should be done after the first round of comments since I think we will have changes to the tests at that time (consolidating test cases into variants, but I think it may be easier in the first round to see them individually).

[2020-12-19 01:36] woodbe commented on #18
Closing based on #48.

[2020-12-19 01:36] #18 closed, assigned to woodbe

[2020-12-19 01:36] woodbe commented on #17
Closing based on #48.

[2020-12-19 01:36] #17 closed, assigned to nobody

[2020-12-19 01:36] woodbe commented on #16
Closing based on #48.

[2020-12-19 01:36] #16 closed, assigned to n-kai, woodbe

[2021-02-03 17:01] gfiumara opened #51 "When is mold release needed?"
Some of the attacks say:

Can we suggest when this might be needed?

[2021-02-08 16:23] woodbe opened #59 "CSM 4: example for fingerprint deformation"
https://github.com/biometricITC/Fingerprint-Toolbox/blame/06896fdb6efabdb959c6e3190af76c2b9255057a/FINGERPRINT_Toolbox_Overview.adoc#L64

CSM 4: capturing curved fingerprint data means acquiring friction ridge data while the finger is not in contact with another object that causes the skin to deform - Better to explain this statement using a provided example.

Proposal: Could you give example of a

[2021-02-08 16:24] woodbe commented on #59
@gregott I'm not exactly sure of another good example, hence the assigning to you.

[2021-02-08 18:01] woodbe opened #65 "CSM 11: Add mention of skin conditions to testing protocol"
https://github.com/biometricITC/Fingerprint-Toolbox/blame/06896fdb6efabdb959c6e3190af76c2b9255057a/FINGERPRINT_Toolbox_Overview.adoc#L90

CSM 11: To add in checking quality of finger in use in order to have high quality samples.

Proposal: Certain fingers unable to produce good impression due skin conditions.

From spreadsheet

[2021-02-10 00:51] n-kai commented on #65
This is common issue to all biometric verification. That's why "5.1.1. Preparation" in  "Biometric PAD Toolbox Overview" (see below) instructs the evaluator to enrol a test subject at least 5 times (normally quality check during enrollment is stricter than one during verification). If  skin condition of test subject's finger is not good, he/she can't be enrolled 5 time in succession.

_At least 5

[2021-02-10 19:37] woodbe commented on #65
So I can say we can close this for that point, but as a thought, should we make a mention of it here? Something like saying (at the end of the intro paragraph) to check the Toolbox overview?

I can see why they are thinking this, as they assuredly read it in isolation. I do not know how many other people will do the same, so I'm wondering if we should add a reference back to the main overview docu

[2021-02-10 20:45] gregott commented on #51
The need for mold releases is a case by case decision.  Some mold materials release some cast materials easily and not so easily for others.  I expect the evaluator will determine when releases are needed and then document which ones were used, when and how they were used.

[2021-02-10 20:53] woodbe commented on #51
I think this is actually described earlier (2.2.2.1.1), though maybe we should add a note there about practicing? The current language states they may be needed, and if used documented, but nothing explicit about practicing to find out whether they would be needed or not.

[2021-02-10 20:55] gregott commented on #59
This is in contrast to the previous section on Flat Attacks.  The platen of a fingerprint scanner causes the finger to flatten.  This is what I had in mind when writing this statement.

[2021-02-10 20:59] woodbe commented on #59
How about this:

just adding that phrase should provide the example. I do get what you are saying.

[2021-02-10 21:01] gregott commented on #65
If it caused one of us to wonder about it, I am sure those not involved in authoring the document will have the same reaction.  I am fine with including a reference.

[2021-02-10 21:05] gregott commented on #59
Sounds good to me.

[2021-02-10 21:10] gregott commented on #51
I was assuming the "if needed" implied the evaluator was practicing/prepping for the real test and decided on the need for the release.  I should not assume.  I think adding a note would be good.

[2021-02-11 02:02] n-kai commented on #65
I also agree to add a reference

[2021-02-11 15:16] #59 closed, assigned to gregott

[2021-02-11 15:24] #65 closed, assigned to gfiumara, n-kai, gregott, ccolin318

[2021-02-11 15:44] #51 closed, assigned to gregott

[2021-02-26 13:51] #8 closed, assigned to woodbe

[2022-05-11 12:42] DouglasKalmus opened #77 "Moldable Plastics Instructions/Recipe"
Instructions are not given for M.4 Moldable Plastic in the Toolbox Inventory. Additionally, many of the materials do not list a commercial example, which will be beneficial for labs to have when choosing equipment. Proposing that instructions be provided for the mold type and commercial example(s) given for all required equipment.

[2022-06-27 19:25] woodbe commented on #77
For the materials that do not have listed commercial examples, it is largely because there were not specific "set" recommended examples that were clear to be used. If there are specific suggestions they can be added, but the iTC at the time this was written was not certain of any particular recommendations that should be made for those materials.

[2022-07-12 14:09] #77 closed, assigned to nobody